.banner {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  background-color: #fff2d9;
  padding: 120px 20px 100px;
  box-sizing: border-box;
}

/* Text */
.banner_text {
  width: 50%;
  padding: 2rem;
  text-align: left;
}

.banner_text .bi.bi-map-fill {
  display: flex;
  align-items: center;
  padding: 0 1rem;
  background-color: white;
  border-radius: 5px 0 0 5px;
}

.banner_text h2 {
  font-size: 2.5rem;
  font-weight: bold;
  margin-bottom: 20px;
}

.banner_text form {
  display: flex;
  width: 100%;
  height: 5rem;
  padding: 10px 0;
  border-radius: 5px;
}

.banner_text input {
  width: 100%;
}

.banner_text input:focus {
  outline: none;
}

.search_input {
  padding: 10px;
  border: none;
  font-size: 1rem;
}

.search_button {
  padding: 10px 50px;
  background-color: #000000;
  color: white;
  border: none;
  cursor: pointer;
  font-size: 1rem;
  transition: background 0.2s;
  border-radius: 0 5px 5px 0;
}

.search_button:hover {
  background-color: #57524d;
}

/* Image */
.banner_thumbnail {
  width: 50%;
}

.banner_thumbnail img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.banner_app {
  display: flex;
  align-items: center;
  justify-content: left;
  width: 100%;
  height: 100%;
  background-color: #fff2d9;
  padding: 0;
  gap: 1rem;
}

.banner_app span {
    font-size: 0.7rem;
}

.banner_app a {
  display: flex;
  width: 35%;
  padding: 0 1rem;
  align-items: center;
  justify-content: center;
  border: 1px solid #000000;
  border-radius: 5px;
  gap: 1rem;
}