.card_item img {
    width: 500px;
    height: 200px;
    object-fit: cover;
}

.card_item a {
    text-decoration: none;
    color: inherit;
}

.card_item--name h3 {
    margin: 2rem 0 !important;
}

.group_card--items {
    display: flex;
    gap: 1rem;
}

